DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/lidea?schema=public"
AUTH_SECRET="change-me-with-openssl-rand"
APP_URL="http://localhost:3000"

STORAGE_ENDPOINT=""
STORAGE_BUCKET=""
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""

EMAIL_FROM="Lidea <no-reply@lideagirisim.com>"
EMAIL_API_KEY=""
